<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-top: 50px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        .container p {
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: none; /* 내용 입력 필드 크기 조절 비활성화 */
            height: 400px;
        }

        .container .buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }

        .container img {
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="grey-bg">
<%- include('nav.ejs') %>
<!-- 포스트 디테일 페이지 -->
<div class="container mt-5">
    <h2><%= result.title %></h2>
    <% if (result.img) { %>
        <img src="<%= result.img %>" alt="이미지" width="400">
    <% } %>
    <p><%= result.content %></p>
    <div class="buttons">
        <button id="editButton" class="btn btn-success">수정하기</button>
        <button id="deleteButton" class="btn btn-secondary">삭제하기</button>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        // 수정 버튼 클릭 시 호출되는 함수
        document.getElementById("editButton").addEventListener("click", function() {
            // result의 _id 값을 가져와 URL을 생성
            var postId = '<%= result._id %>';
            var editUrl = '/edit/' + postId;
            // 생성한 URL로 리다이렉션
            window.location.href = editUrl;
        });
    </script>
    <script>
        document.querySelector("#deleteButton").addEventListener("click", function () {
            // result의 _id 값을 가져와 URL을 생성
            var postId = '<%= result._id %>';
            var deleteUrl = '/delete/' + postId;
            // 생성한 URL로 리다이렉션
            window.location.href = deleteUrl;
        })
    </script>
</body>
</html>