<%
// 날짜를 'YYYY/MM/DD' 형식으로 변환하는 함수
function formatDate(date) {
    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
    return new Date(date).toLocaleDateString('ko-KR', options);
}
%>

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .card-text {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3; /* 글이 3줄을 넘어가면 ...으로 처리 */
            -webkit-box-orient: vertical;
        }

        .find-btn{
            text-align: center;
        }

        .btn btn-info {
            margin: auto;
            display :inline-block;
        }

        .search {
            margin-left: 20px;
            padding: 5px;
        }

        .list-item {
            height: 250px;
        }

        .thumbnail-container {
            width: 200px; /* 원하는 너비 설정 */
            height: 200px; /* 원하는 높이 설정 */
            overflow: hidden; /* 부모 요소를 벗어나는 부분은 숨김 */
            border: 1px solid #ccc; /* 테두리 스타일 설정 (선택사항) */
        }

        .thumbnail-image {
            width: 100%; /* 이미지를 부모 요소의 너비에 맞춤 */
            height: 100%; /* 이미지를 부모 요소의 높이에 맞춤 */
            object-fit: cover; /* 이미지를 부모 요소에 맞게 잘라서 보여줌 */
            object-position: center; /* 이미지를 부모 요소의 중앙에 위치시킴 */
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px; /* 원하는 여백 값으로 조절하세요 */
        }

        .page-link {
            margin: 0 5px; /* 각 링크 사이의 간격을 조절할 수 있습니다. */
        }

    </style>
</head>
<body class="grey-bg">
<%- include('nav.ejs') %>
<!-- 블로그 포스트 -->
<% for (var i = 0; i < result.length; i++) { %>
    <div class="row mb-2 justify-content-center " style="margin-top: 20px;">
        <!-- 첫번째 블로그 포스트 -->
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative list-item">
                <div class="col p-4 d-flex flex-column position-static" style="width: calc(49% - 200px);">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Post</strong>
                    <h3 class="mb-0">
                        <%= result[i].title %>
                    </h3>
                    <div class="mb-1 text-body-secondary"> <%= formatDate(result[i].date) %> </div>
                    <p class="card-text mb-auto overflow-hidden">
                        <%= result[i].content %>
                    </p>
                    <a href="/detail/<%= result[i]._id %>" class="icon-link gap-1 icon-link-hover stretched-link" style="border-top: 1px solid #ccc; display: block; padding-top: -5px;" >
                        Continue reading
                        <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <% if (result[i].img) { %>
                        <div class="thumbnail-container">
                            <img class="thumbnail-image" src="<%= result[i].img %>" alt="이미지 또는 썸네일">
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% } %>
<div class="find-btn">
    <input class="search" id="search-input">
    <a class="btn btn-dark search-send" id="search">검색</a>
</div>
<!-- list.ejs 템플릿에서 페이지 번호 표시하기 -->
<div class="pagination">
    <% for(let i = 1; i <= totalPages; i++) { %>
        <a href="/list/<%= i %>" class="page-link"><%= i %></a>
    <% } %>
</div>
<%- include('footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


<script>
    $('#search').click(function(){
        var 입력한값 = $('#search-input').val();
        window.location.replace('/search?value=' + 입력한값)
    });
</script>
</body>
</html>