<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .card-text {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3; /* 글이 3줄을 넘어가면 ...으로 처리 */
            -webkit-box-orient: vertical;
        }

        .find-btn{
            text-align: center;
        }

        .btn btn-info {
            margin: auto;
            display :inline-block;
        }

        .search {
            margin-left: 20px;
            padding: 5px;
        }
    </style>
</head>
<body class="grey-bg">
<%- include('nav.ejs') %>
<!-- 블로그 포스트 -->
<% for (var i = 0; i < result.length; i++) { %>
    <div class="row mb-2 justify-content-center " style="margin-top: 20px;">
        <!-- 첫번째 블로그 포스트 -->
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Post</strong>
                    <h3 class="mb-0">
                        <%= result[i].title %>
                    </h3>
                    <div class="mb-1 text-body-secondary">Nov 12</div>
                    <p class="card-text mb-auto overflow-hidden">
                        <%= result[i].content %>
                    </p>
                    <a href="/detail/<%= result[i]._id %>" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <% if (result.img) { %>
                        <img src="<%= result.img %>" alt="이미지" width="400">
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% } %>
<div class="find-btn">
    <input class="search">
    <a class="btn btn-dark search-send" >검색</a>
    <a href="/list/next/<%= result[result.length - 1]._id %>" class="btn btn-dark">이전</a>
    <a href="/list/next/<%= result[result.length - 1]._id %>" class="btn btn-dark">다음</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    document.querySelector('.search-send').addEventListener('click', function(){
        let search = document.querySelector('.search').value
        location.href = '/search?val=' + search
    })
</script>
</body>
</html>